.t-sam3k {
  background   :  url(http://www.ivillage.com/forums/sites/all/themes/ibase/ibase/img/bg_global/bg-diagonal-tile.png) repeat;
  font         :  1.8rem/2.8rem $font-9;
  color        :  #444;
    
    h1, h2, h3, h4, h5, h6 {
      color        :  $swatch-1;
      font-family  :  $font-9;
    }
  
    .panel {
      @include box-shadow(#cccccc 1px 1px 20px);

      background  :  #fff;    
      margin      :  $page-margin;
      opacity     :  0;
    }
    
      .block {
        min-height  :  60px;
        background  :  #efefef;
      }
    
      
    
    
    
  /**
   * Swatches
   */
   
  .bg-swatch-1 { background : $swatch-1; color : #fff; }
  .bg-swatch-2 { background : $swatch-2; color : #fff; }
  .bg-swatch-3 { background : $swatch-3; color : #fff; }
  .bg-swatch-4 { background : $swatch-4; color : #fff; }
  .bg-swatch-5 { background : $swatch-5; color : #fff; }

}